.nav-colores-registro{
    background-color: #e7e7e7;
    color: #e90000;
    font-size: 23px;
    
}
.cabecera > p,h4{
    margin-top: 20px;
    text-align: center;
    color: rgb(70, 70, 70);
}
.logo{
    padding:10px;
}

.form-control:focus{
    border: 1px solid red!important;
    outline: none!important;
    box-shadow: none!important;
  }